.amt {
    background-color: #fff;
    border: 0.0625rem solid #dadce0;
    -webkit-border-radius: 0.5rem;
    border-radius: 0.5rem;
    overflow: hidden;
    margin-bottom: 0.9rem;
  }
  .amt__top {
    display: flex;
    align-items: center;
  }
  .amt__top > * {
    margin-left: 10px;
  }
  .dateandtime{
    margin-left: 63%;
  }
  .amt__Cnt {
    padding: 0.5rem 0;
    transition: opacity 0.5s ease, max-height 0.5s ease;
  }
  .amt__txt {
    margin: 10px 15px;
    margin-left: 25px;
  }
  .amt__img {
    height: 150px;
    width: 150px;
    object-fit: contain;
    margin-left: 10px;
  }
  .download-btn{
    border-radius: 10px;
    padding: 5px;
    margin: 2px;
    margin-left: 5px;
    font-size: 0.9rem;
    background: transparent;
    margin-left: 25px;
  }

  @media only screen and (max-width: 650px) {
    .amt__Cnt{
      width: 88vw;
    }
  }

  @media only screen and (max-width: 1030px){
    .dateandtime{
      margin-left: 58%;
    }
  }
  @media only screen and (max-width: 910px){
    .dateandtime{
      margin-left: 53%;
    }
  }
  @media only screen and (max-width: 800px){
    .dateandtime{
      margin-left: 48%;
    }
  }
  @media only screen and (max-width: 740px){
    .dateandtime{
      margin-left: 43%;
    }
  }
  @media only screen and (max-width: 670px){
    .dateandtime{
      margin-left: 38%;
    }
  }
  @media only screen and (max-width: 630px){
    .dateandtime{
      margin-left: 28%;
    }
  }
  @media only screen and (max-width: 540px){
    .dateandtime{
      margin-left: 21%;
    }
  }

  .inputcss{
    display: flex; /* Use flexbox */
    align-items: center; /* Vertically center the content */
    border-radius: 5px;
    width: 95%;
    margin: auto;
    height:35px;
    margin-top: 10px;
  }

  .messagesubmit{
    margin: 10px;
    margin-left: 25px;
  }

  @media only screen and (max-width: 900px)
  {
    .messagesubmit{
      margin-left: 20px;
    }
  }

  @media only screen and (max-width: 600px)
  {
    .messagesubmit{
      margin-left: 15px;
    }
  }
  