.upc {
  width: 400px;
  border-radius: 40px;
  padding-bottom: 20px;
  margin: auto;
  margin-top: 100px;
  background: rgb(229, 224, 224);
  /* Adjusted min-height */
}
.supportme{
  height: 100vh;
}
.gradient {
  background-image: linear-gradient(#91baff, #205fff);
  height: 125px;
  border-radius: 40px 40px 0px 0px;
}

.profile-down {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Added to center the content vertically */
  text-align: center;
}

.profile-down img {
  height: 140px;
  width: 130px;
  border-radius: 50%;
  margin-top: -75px;
  padding: 5px;
  background: white;
  transition: transform 0.3s ease; /* Added transition for image size change */
}

.profile-title {
  font-size: 36px;
  font-weight: 600;
  display: flex; /* Added */
  align-items: center; /* Added to center the text horizontally */
  justify-content: center; /* Added to center the text horizontally */
}

.profile-description {
  padding: 20px 40px;
  font-size: 16px;
}

.profile-button {
  font-size: 16px;
  background: #2b5dff;
  margin: 10px 100px;
  padding-top: 8px;
  padding-bottom: 10px;
  border-radius: 40px;
}

.profile-email {
  font-weight: 600;
  display: flex; /* Added */
  align-items: center; /* Added to center the text horizontally */
  justify-content: center; /* Added to center the text horizontally */
}

@media(max-width:425px) {
  .upc {
    width: 350px;
  }
}

@media(max-width:370px) {
  .upc {
    width: 310px;
  }
}

.create-box {
  margin: auto;
}

.enlarged-image {
  transform: scale(1.5); /* Adjust the scale factor as needed */
}

.profile-down img:hover {
  /* Change cursor to pointer when hovering over the image */
  cursor: pointer;
}